<section class="splash">
  <div class="launch">
    <h2>Budget Sensei</h2>
  </div>
  <div class="auth-links">
    <%=link_to "Log in", new_user_session_path, class: 'log-in-btn'%>
    <%=link_to "Sign up", new_user_registration_path, class: 'sign-up-btn'%>
  </div>
</section>