@import "colors";

.home-nav {
  background-color: var(--blue);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.home-nav h4 {
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-left: 15px;
}

.categories-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  gap: 20px;
}

.login-button {
  background-color: transparent;
  border: none;
}

.categories-list {
  display: flex;
  background-color: #fff;
  flex-direction: row;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.category {
  display: flex;
  margin: 0;
}

.icon {
  width: 25%;
}

.name {
  width: 45%;
  margin-bottom: 15px;
  margin-left: 10px;
}

.payment {
  width: 30%;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.add-category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--green);
  color: white;
  padding: 0.6rem;
  font-size: 18px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.add-category-container div {
  color: white;
  margin: 10px;
  padding: 20px 70px;
  border: 2px solid white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (min-width: 900px) {
  .home-nav h4 {
    font-size: 1.2rem;
  }

  .categories-body {
    padding: 3rem;
  }
}
